html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
}

button {
  display: block;
  margin: 1em auto 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;

  width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.square {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(720px / 16);
  height: calc(720px / 16);
  border: 1px solid rgba(133, 128, 128, 0.44);
  background-color: rgb(206, 219, 215);
  text-align: center;

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.painted {
  background-color: aquamarine;
}